@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');
/* Footer */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* To ensure fixed navbar doesn't overlap with content, 66px is the navbar height */
body{
   padding-top: 66px;
}

#container {
  min-height: 100%;
  position: relative;
}

#commonFooter {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 182px;
  /* Height of the footer */
}

.mainFooter {
  margin-top: 2.0rem !important;
}

/* Navbar */
.navbar {
  background-color: #111 !important;
}

nav a:hover {
  text-decoration: none !important;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #fff !important;
  background-color: #444;
}


.social-icons{
  /* width: 30px;
  height: 30px; */
  transition: all 0.2s ease-in 0s;
}
.social-icons:hover{
  transform:scale(1.2);
}
#about{
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* min-height: 100vh; */
}

.navbar {
  background-color: #111 !important;
}

nav a:hover {
  text-decoration: none !important;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  color: #fff !important;
  background-color: #444 !important;
}

/*Mobile-friendly hoverable dropdown*/
@media(min-width:480px) {
  .dropdown:hover .dropdown-menu {
    display: block !important;
    margin-top: 0 !important;
    /* remove the gap so it doesn't close */
  }
}

.dropdown-menu {
  background-color: #222 !important;
}

.dropdown-item:hover {
  background-color: #111 !important;
}
.carousel-img{
  /* height: 92vh; */
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* #__next{
  min-height: 100%;
} */
